!!!
%html
  %head
    %meta(charset="UTF-8")
    %title Fabrication
    %link(rel='icon' type='image/png' href='/images/favicon.png')
    %link(href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Palanquin' rel='stylesheet' type='text/css')
    = stylesheet_link_tag 'application'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"
    = javascript_include_tag 'application'
    = javascript_include_tag 'http://use.typekit.com/vkq5xzv.js'
    %meta(name="viewport" content="width=device-width,initial-scale=1")

  %body
    = partial 'gem'
    %header#site_head
      .title
        %h1.drawing Fabrication
      %h2 simple and powerful object generation for Ruby

    %nav#site_nav
      = link_to "Navigation", "#", class: "nav_toggle"
      %ul

    %main.copy
      ~ yield
    %footer#site_foot
      :markdown
        site design by [Cameron Daigle](http://camerondaigle.com) for [Hashrocket](http://hashrocket.com)

        Love Fabrication? Be sure to check out Paul and Cameron's other awesome product: [Informant](http://www.informantapp.com), a usability monitoring service for Ruby on Rails.

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4408103-7']);
      _gaq.push(['_setSiteSpeedSampleRate', 100]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
